html, body {
  margin: 0;
  padding: 0;
  background: #1a2144;
}

.morphic-container {
  background: linear-gradient(to bottom right, rgba(255,255,255,0.5), rgba(255,255,255,0.3));
  backdrop-filter: blur(10px);
}

.menu-button {
  text-transform: none;
  color: white;
}

.toggled-button {
  background: linear-gradient(to bottom right, rgba(255,255,255,0.3), rgba(255,255,255,0.1)) !important;
  backdrop-filter: blur(10px) !important;
}

.logo {
  color: white;
}

.info {
  color: white;
  margin-bottom: 0;
}